bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.suo
/aws.xml
/.idea/.idea.DebitManagement/.idea/aws.xml
/.idea/.idea.DebitManagement/.idea/discord.xml
/.idea/.idea.DebitManagement/.idea/indexLayout.xml
/.idea/.idea.DebitManagement/.idea/vcs.xml
*.user
dataSources.xml